name: knoten
channels:
  - conda-forge
  - usgs-astrogeology
  - plotly
dependencies:
  - ale>=0.3.2
  - coveralls
  - csmapi>=1.0
  - gdal>=3.0.0
  - holoviews
  - jinja2
  - jupyter
  - matplotlib
  - numpy
  - plio
  - plotly
  - plotly-orca 
  - psutil 
  - pvl
  - pyproj
  - pysis
  - pytest
  - python>=3
  - requests
  - scipy
  - shapely
  - usgscsm>=1.3.1
